@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

$primary-font : 'Maven Pro', sans-serif;
$secondary-font : 'Rubik', sans-serif;

$backgroundcolor:#3AAFA9;
$Russian_green: #5CDB95;
$vermillion: #C7493A;
$whitish: #FEFFFF;
$keppel: #17252a;

// RESET

*{
  margin: 0;
  padding: 0;
}


// HEADER STYLES

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundcolor; 
  height: 100vh;
  background: cover;
  width: 100%;
  overflow-y:hidden;

}

.intro {
  display: inline-block;
  position: relative;
  color: white;
  margin: 0 auto;

  &__pre {
    position: absolute;
    font-size: 1.25em;
    left: 1.75em;
    top:.2em;
    font-family: $secondary-font;
    color: $whitish;
    opacity: .75;
  }

  & > span {
    position: absolute;
    right: -.5em;
    bottom: -.5em;
    font-family: $secondary-font;
    color: $keppel;
    font-size: 2em;
    line-height: 1.3;
    font-weight: bold;
    margin-left: .5em;
    text-transform: uppercase;
  }

  & > h1 {
    font-family: $primary-font;
    color: $whitish;
    font-size: 4em;
    line-height: 1.3;
  }

  & > p {
    font-size: 1.25em;
    left: -.5em;
    bottom: -.5em;
  }

  &__showmore {
    text-align: center;
    color: white;
    font-size: 1.25em;
    opacity: .75;
    margin-bottom: 2em;
    
  }
  
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { 
  cursor: pointer;
  transform: scale(1.1);
}

// MAIN STYLES

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#experience{
  padding: 5em;
  width: 35%;
}


#title{
  width: 10%;
  transform: translateX(-50%);
  align-self: center;

  & .rotateme{
    transform: rotate(-90deg);
    transform-origin: right top;
    text-align: center;
    color: $backgroundcolor;
    font-family: $primary-font;
    font-size: 3em;
    font-weight: 700;

    & > p::first-letter { 
      color: $keppel;
    }
  }
}

.entry {

  &__title{
    color: $backgroundcolor;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    font-family: $primary-font;
    padding: 2em 0;
    font-weight: 700;

    & > h4 {
      opacity: .6;
    }
    & > img {
      position: absolute;
      height: 3em;
      top: 2em;
      right: 1em;
      filter: grayscale(100%);
    }

    #wetechlogo {
      height: 5em;
      top: 1.5em;
    }

  }

  &__content{
    font-family: $secondary-font;

    & > p {
      margin: 2% auto;
      text-indent: 1.25em;
      opacity: .85;
      font-size: .9em;
    }
  }
}

.divider {
  margin: 4em 0;
  left:50%;
  top:10%;
  bottom:10%;
  border-left: 3px solid $keppel;
  opacity: .8;
}

