@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("./responsive.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.hidden {
  visibility: hidden;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(501%);
            transform: translateX(501%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(501%);
            transform: translateX(501%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimated {
  opacity: 0;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

.slideInRightAnimated {
  opacity: 0;
  -webkit-animation: slideInRight 1s ease both;
          animation: slideInRight 1s ease both;
}

.slideInDownAnimated {
  opacity: 0;
  -webkit-animation: slideInDown .75s ease both;
          animation: slideInDown .75s ease both;
}

.fadeInDownAnimatedFast {
  opacity: 0;
  -webkit-animation: fadeIn .5s ease both;
          animation: fadeIn .5s ease both;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3AAFA9;
  height: 100vh;
  background: cover;
  width: 100%;
  overflow-y: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__photo {
  width: 15rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: white;
}

.header__photo > img {
  height: 19rem;
  width: 15rem;
}

.header__photo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: .75rem 0;
}

.header__photo__links > a > img {
  text-align: center;
  height: 2.5rem;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.header__photo__links > a > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__photo__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__photo__download > a {
  border: .25rem solid black;
  background-color: #17252A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 3rem;
  width: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10rem;
}

.intro {
  display: inline-block;
  position: relative;
  color: white;
  margin: 0 auto;
}

.intro > h1 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.intro > p {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.intro > span {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.intro__pre {
  position: absolute;
  font-size: 1.25rem;
  left: 1.75rem;
  top: .2rem;
  font-family: "Rubik", sans-serif;
  color: #FEFFFF;
  opacity: .75;
}

.intro > span {
  position: absolute;
  right: -.5rem;
  bottom: -.5rem;
  font-family: "Rubik", sans-serif;
  color: #17252a;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: bold;
  margin-left: .5rem;
  text-transform: uppercase;
}

.intro > h1 {
  font-family: "Maven Pro", sans-serif;
  color: #FEFFFF;
  font-size: 4rem;
  line-height: 1.3;
}

.intro > p {
  font-size: 1.25rem;
  left: -.5rem;
  bottom: -.5rem;
}

.intro__showmore {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  opacity: .75;
  margin-bottom: 2rem;
}

.intro__contact {
  border: .1rem solid white;
  background-color: transparent;
  color: white;
  height: 3rem;
  text-align: center;
  width: 8rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  text-decoration: none;
  margin-top: 2rem;
  font-family: "Maven Pro", sans-serif;
}

.intro__contact:hover {
  color: #17252a;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1rem solid #17252a;
}

.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.grow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#experience {
  padding: 5rem;
  max-width: 800px;
}

#title {
  width: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#title .rotateme {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  text-align: center;
  color: #3AAFA9;
  font-family: "Maven Pro", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

#title .rotateme > p::first-letter {
  color: #17252a;
}

.entry {
  margin: 10% auto;
}

.entry__title {
  color: #3AAFA9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: start;
  font-family: "Maven Pro", sans-serif;
  padding: 2rem 0;
  font-weight: 700;
}

.entry__title > h4 {
  opacity: .6;
}

.entry__title > img {
  position: absolute;
  height: 3rem;
  top: 2rem;
  right: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.entry__title #workplace {
  opacity: .5;
  font-size: 1rem;
}

.entry__title #wetechlogo {
  height: 4.5rem;
  top: 1rem;
}

.entry__content {
  font-family: "Rubik", sans-serif;
}

.entry__content > span:nth-child(1) {
  text-indent: 1.25rem;
}

.entry__content > span, .entry__content ul {
  opacity: 0;
}

.entry__content > div {
  opacity: 0;
  margin: 25px auto;
}

.entry__content > ul {
  list-style: none;
}

.entry__content > ul > li {
  margin: 5px 0;
}

.entry__content > ul > li::before {
  content: '\2022';
  color: #3AAFA9;
  margin-right: 10px;
  font-size: 1.5rem;
}

.divider {
  margin: 4rem 0;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 3px solid #17252a;
  opacity: .8;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17252a;
}

.portfolio__title {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #FEFFFF;
  opacity: 0;
}

.portfolio__subtitle {
  opacity: 0;
  margin-top: .5rem;
  width: 6rem;
  height: .25rem;
  background-color: #FEFFFF;
}

.portfolio__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (20vw)[auto];
      grid-template-rows: repeat(auto, 20vw);
  padding: 4rem;
  grid-gap: 2rem;
}

.portfolio__body__entry {
  opacity: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEFFFF;
}

.portfolio__body__entry > h3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  color: white;
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.75);
}

.portfolio__body__entry > h3 > a {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  color: white;
  line-height: 1.4;
  font-size: 13px;
}

.portfolio__body__entry > img {
  width: 50%;
  margin: 25px 0;
}

.portfolio > h3 {
  color: #FEFFFF;
  margin: 50px 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    margin: 0;
  }
  .header__photo {
    display: none;
  }
  .intro__pre {
    position: absolute;
    font-size: 1rem;
    left: 1.25rem;
    top: .2rem;
    font-family: "Rubik", sans-serif;
    color: #FEFFFF;
    opacity: .75;
  }
  .intro > h1 {
    font-size: 3rem;
  }
  .intro > span {
    right: -1.8rem;
    bottom: -.25rem;
    font-size: 1.5rem;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 768px;
  }
  #title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #title .rotateme {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .divider {
    margin: .5rem auto;
    width: 75%;
    border-bottom: 3px solid #17252a;
  }
  #experience {
    padding: 30px;
  }
  .entry__title {
    padding: 2rem 0;
  }
  .entry__title > img {
    display: none;
  }
  .entry__content > div {
    margin: 5% auto;
  }
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #17252a;
  }
  .portfolio__body {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__body__entry > h3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    color: white;
    line-height: 1.4;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.75);
  }
  .portfolio__body__entry > h3 > a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    color: white;
    line-height: 1.4;
    font-size: 10px;
  }
  .portfolio__body__entry > img {
    height: 50%;
    width: 50%;
    margin: 25px 0;
  }
  .portfolio > h3 {
    color: #FEFFFF;
    margin: 50px 50px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */